RewriteEngine On

# for when VisualQuery is placed in sub-directory
RewriteBase /VisualQuery/  # Match your project directory name
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]